<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kawauso.mapper.UserInfoMapper">

    <select id="getUsersWithEmail" resultType="int">
        select count(1) from UserInfoMap where email = #{email}
    </select>

    <insert id="insertUserInfo">
        insert into UserInfoMap (user_id, password, email) values (#{userId}, #{password}, #{email})
    </insert>

</mapper>